<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= transcript.title %> transcript</title>
  <link rel="stylesheet" href="etc/transcript.css">
  <script src="etc/player/audio-player.js" type="text/javascript"></script>
  <script src="etc/audio-compat.js" type="text/javascript"></script>
</head>
<body>
  <h1><%= transcript.title %> transcript</h1>
  <h2><% if transcript.subtitle %><%= transcript.subtitle %><% end %></h2>
  
  <% transcript.sort.each do |chunk| %>
  
  <h3><%= chunk.offset %></h3>
  <h3><audio src="audio/chunks/<%= chunk.filename_local %>" preload="none" controls></audio></h3>
  <h4><a href="https://requester.mturk.com/bulk/workers/<%= chunk.worker %>">Worker</a> | <a href="https://requester.mturk.com/mturk/manageHIT?HITId=<%= chunk.hit %>&amp;viewableEditPane=manageHIT_downloadResults">HIT</a></h4>
  
  <p><%= chunk.body_as_html %>
  <% end %>
</body>
</html>
