<% @title = 'Transcribe MP3 of ' + render('length-description') + ' interview' %>
<%= render 'header' %>
<p id="description">I split up an interview into <%= render 'length-description' %> parts, you transcribe the audio for one <%= render 'length-description' %> part.</p>

<%= render 'interview/voices' %>

<%= render 'labeling' %>

<%= render 'entry' %>

<%= render 'footer' %>
