<% self.title = 'Transcribe MP3 of ' + render('partials/length-description') + ' speech' %>

<%= render 'partials/header' %>
<p id="description">I split up a speech into <%= render 'partials/length-description' %> parts, you transcribe the audio for one <%= render 'partials/length-description' %> part.</p>

<h3>Formatting</h3>
<p>There should only be one speaker. Simply type what the person says. No need to label. If the speaker changes, type [SPEAKER CHANGES].</p>

<%= render 'partials/entry' %>

<%= render 'partials/footer' %>
