<% self.title = 'Transcribe MP3 of ' + render('partials/length-description') + ' phone call' %>
<%= render 'partials/header' %>

<p id="description">I split up a telephone conversation into <%= render 'partials/length-description' %> parts, you transcribe the audio for one <%= render 'partials/length-description' %> part.</p>

<h3>Labeling</h3>
<p>There are two speakers. The person asking the questions is <strong><%= voice1 %></strong>. The person answering the questions, on the distant end of the telephone line, is <strong><%= voice2 %></strong><% unless voice2title.to_s.empty? %>, <%= voice2title %><% end %>. Label each speaker with a colon, like this:</p>
<%= render 'partials/labeling-example' %>

<%= render 'partials/entry' %>

<%= render 'partials/footer' %>
